@{
    ViewBag.Title = "Dashboard";
}


<div class="container-fluid main-content">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_Sidebar")
        </div>
        <div class="col-md-9 dashboard-content">
        </div>
    </div>
</div>