<appSettings>
  <add key="credentialUserName" value="venuinfo.s@gmail.com"/>
  <add key="sentFrom" value="venuinfo.s@gmail.com"/>
  <add key="pwd" value="Venubabu@12"/>
  <add key="host" value="smtp.gmail.com"/>
  <add key="port" value="25"/>
  <add key="ssl" value="false"/>
  <add key="portalURL" value="http://tfdev.raybiztech.com"/>
  <add key="BlobStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[account-name];AccountKey=[account-key]" />
  <add key="BlobStorageContainerName" value="[container-name]" />

</appSettings>