<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=RBT2012DB\SQLEXPRESS2014;initial catalog=TFPM;user id=TFPM;password=ray1@3" providerName="System.Data.SqlClient" />
    <add name="TFPMEntities" connectionString="metadata=res://*/Entitys.TFEntity.csdl|res://*/Entitys.TFEntity.ssdl|res://*/Entitys.TFEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RBT2012DB\SQLEXPRESS2014;initial catalog=TFPM;user id=TFPM;password=ray1@3;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  <!--<add name="DefaultConnection" connectionString="Data Source=RAY\SQLEXPRESS;initial catalog=TFPM;user id=sa;password=ray1@3" providerName="System.Data.SqlClient" />
  <add name="TFPMEntities" connectionString="metadata=res://*/Entitys.TFEntity.csdl|res://*/Entitys.TFEntity.ssdl|res://*/Entitys.TFEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RAY\SQLEXPRESS;initial catalog=TFPM;user id=sa;password=ray1@3;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
</connectionStrings>
