
@{TransForce.Web.Portal.Models.UserModel userData = Session["UserData"] as TransForce.Web.Portal.Models.UserModel;}

<div>

    <ul class="nav nav-pills nav-stacked nav-side" id="sidebar">
        @*<li class="active panel">
                <a href="#">Dashboard</a>
            </li>*@
        <li class="active panel">
            <a data-toggle="collapse" data-parent="#sidebar" href="#collapse1">Customer Profile</a>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked sub-menu">
                        @if (userData.Roles.Contains("SuperAdmin") || userData.Roles.Contains("PortalAdmin"))
                        {
                            <li><a href="~/Customer/GetCustomers">Customers</a></li>
                        }
                        @if (userData.Roles.Contains("AccountAdmin"))
                        {
                            <li><a href="~/Customer/GetCustomer">Customer</a></li>
                        }
                        <li><a href="">Menu 1</a></li>
                        <li><a href="#">Menu 2</a></li>
                        <li><a href="#">Menu 3</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="panel">
            <a data-toggle="collapse" data-parent="#sidebar" aria-controls="collapse2" href="#collapse2">Configuration</a>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked sub-menu">
                        @if (userData.Roles.Contains("SuperAdmin") || userData.Roles.Contains("PortalAdmin"))
                        {
                            <li><a href="~/LocationConfiguration/Index">Location Configuration</a></li>
                        }
                        <li><a href="~/LocationConfiguration/UploadLocation">Upload Location</a></li>
                        <li><a href="~/DriverInfo/UploadDrivers">Upload Drivers</a></li>
                        <li><a href="~/DriverInfo/GetDrivers">Drivers</a></li>
                        <li><a href="#">Menu 3</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="panel">
            <a data-toggle="collapse" data-parent="#sidebar" aria-controls="collapse3" href="#collapse3">Change Password</a>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked sub-menu">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Menu 1</a></li>
                        <li><a href="#">Menu 2</a></li>
                        <li><a href="#">Menu 3</a></li>
                    </ul>
                </div>
            </div>
        </li>
        @*<li class="panel">
                <a data-toggle="collapse" data-parent="#sidebar" aria-controls="collapse4" href="#collapse4">TBD</a>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked sub-menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Menu 1</a></li>
                            <li><a href="#">Menu 2</a></li>
                            <li><a href="#">Menu 3</a></li>
                        </ul>
                    </div>
                </div>
            </li>*@
        @if (userData.Roles.Contains("PortalAdmin") || userData.Roles.Contains("AccountAdmin")|| userData.Roles.Contains("SuperAdmin"))
        {
            <li class="panel">
                <a data-toggle="collapse" data-parent="#sidebar" aria-controls="collapse5" href="#collapse5">Upload Carrier Profile</a>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked sub-menu">
                            <li><a href="~/Inspection/UploadInspectionXml">Upload Carrier Profile XML</a></li>
                            <li><a href="~/Inspection/RoadsideInspectionEntry">Add Inspection Entry</a></li>
                            <li><a href="#">Menu 1</a></li>
                            <li><a href="#">Menu 2</a></li>
                            <li><a href="#">Menu 3</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        }
        @*<li class="panel">
                <a data-toggle="collapse" data-parent="#sidebar" aria-controls="collapse5" href="#collapse5">Administration</a>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked sub-menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Menu 1</a></li>
                            <li><a href="#">Menu 2</a></li>
                            <li><a href="#">Menu 3</a></li>
                        </ul>
                    </div>
                </div>
            </li>*@
    </ul>
</div>
